.error {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;

  .error-content {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    h1 {
      font-size: 5.8em;
  
      @include mq(480) {
        font-size: 4em;
      }
    }

    .error-link {
      a {
        text-decoration: none;
        color: $accent;
      }
    }
  }
}