.error {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  height: 100vh;
  flex-direction: flex;
  justify-content: center;
  align-items: center;

  @include mq(768) {
    padding: 15px;
  }

  .error-content {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    h1 {
      font-size: 5.8em;
  
      @include mq(480) {
        font-size: 4em;
      }
    }

    .error-link {
      a {
        text-decoration: none;
        color: $accent;
      }
    }
  }
}