.error-content {
  width: 100%;
  max-width: 1200px;
  text-align: center;

  .error-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    h1 {
      font-size: 5.8em;
  
      @include mq(480) {
        font-size: 4em;
      }
    }

    .error-link {
      a {
        text-decoration: none;
        color: $accent;
      }
    }
  }
}