footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 30px 10px;
  
    .social-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      max-width: 400px;
  
      a {
        font-size: 2rem;
        color: $text;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        padding: 20px 10px;
        &:hover {
          color: $accent;
          transform: scale(1.1);
        }
      }
    }
  
    p {
      text-align: center;
      margin: 0 auto;
  }
}