footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 20px;
  
    .social-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      max-width: 400px;
  
      a {
        font-size: 1.4rem;
        background: #161b22;
        margin: 0px 2px;
        color: $text;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        padding: 20px 10px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    p {
      text-align: center;
      font-size: 0.8rem;
      margin-bottom: 0;
  }
}
