.headroom {
    width: 100%;
    padding: 1.3rem 3rem;
  
    @include mq(480) {
      padding: 1.8rem 2rem 1.3rem 2rem;
    }
  }
  
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
    @include headroom-trans;
  }
  .headroom--scrolled {
    @include headroom-trans;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-1520%);
    @include headroom-trans;
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0);
    @include headroom-trans;
    background-blend-mode: multiply;
    background-color: $primary;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  }
  