.skills {
  background: $primary;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .skill-container {
    width: 50%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include mq(1280) {
      padding: 1rem 5rem;
    }

    @include mq(1024) {
      width: 100%;
    }

    @include mq(768) {
      padding: 1rem;
    }

    .skill-title {
      width: 100%;

      h2 {
        font-size: 2.6em;
        text-align: center;
        margin-top: 0.8rem;

        @include mq(1024) {
          width: 100%;
        }
      }
    }

    .skill-logo {
      margin: 1rem;
      height: 2rem;
      filter: brightness(100%) drop-shadow(4px 4px 3px #444);

      @include mq(1280) {
        height: 2rem;
      }

      @include mq(768) {
        height: 2.8rem;
      }
    }

    .skill-transition {
      transition: all 0.5s ease;

      &:hover {
        filter: brightness(105%) drop-shadow(6px 6px 6px #1d2021);
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  .skill-img {
    width: 50%;
    padding: 30px;

    @include mq(1024) {
      display: none;
    }

    @include mq(768) {
      padding: 0 20px;
    }

    @include mq(480) {
      width: 100%;
    }

    img {
      width: 80%;
      margin-top: 40px;
      margin-bottom: 0;
    }
  }
}
