// Variables
$primary: #16202c;
$accent: #58a6ff;
$highlight: #58a6ff;
$text: #FFF;

// Mixins
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin headroom-trans {
  transition: all 0.6s ease;
}
