@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

@import "partials/_media_queries";
@import "partials/_layout";
@import "partials/_vars";
@import "partials/_header";
@import "partials/_headroom";
@import "partials/_perfil";
@import "partials/_about";
@import "partials/_skills";
@import "partials/_work";
@import "partials/project-page";
@import "partials/404";
@import "partials/_contact";
@import "partials/_footer";

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', serif;
    background: $primary;
    color: #FFF;

    h1 {
        color: $accent;
        font-weight: 900;
    }

    h2 {
        color: $text;
    }

    p {
        color: $text;
        font-weight: 500;
    }

}